# ====== Application =========
PORT=3001
NODE_ENV=development
BASE_URL=http://localhost:3001

# ====== Database ==========
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"

# ====== Seed database =========
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin

# ====== Better Auth ==========
BETTER_AUTH_SECRET=
BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:3000
BETTER_AUTH_URL=http://localhost:3001
